body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
    max-width: 100%;
}

.top-right-links {
    position: absolute;
    top: 20px;
    right: 25px;
}

.top-right-links a {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
}

.top-right-links a:hover {
    text-decoration: underline;
}

.top-left-logo {
    margin-left: 25px;
}

.top-left-logo img {
    margin-top: 20px;
    width: 80px;
    height: auto;
}

h2 {
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #d93025;
    font-size: 20px;
    font-weight: 500;
}

.section-divider {
    border: none;
    border-top: 1px solid #ebebeb;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
}

.space-left {
    font-size: 16px;
    min-width: 200px;
}

.space-right {
    font-size: 14px;
    color: #777;
    font-weight: bold;
}

.form-container {
    margin-left: 50px;
    max-width: 1100px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.form-row label {
    font-size: 13px;
    min-width: 200px;
    font-weight: 540;
}

.note i {
    padding-left: 5px;
}

.note {
    font-size: 13px;
    color: #666;
    margin-left: 10px;
    word-wrap: normal;
}

.form-row input,
.space {
    font-size: 14px;
    padding: 6px;
    max-width: 50%;
    min-width: 50%;
}

.adv-button input {
    margin-top: 20px;
    margin-right: 325px;
    min-width: 120px;
    height: 30px;
    float: right;
    border-radius: 2px;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    white-space: nowrap;
    color: #ffffff;
}